.landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    height: 80%;
    color: #756B5D;
    padding-top: 30px;
  }
  
  .landing > h4, .landing > p {
    z-index: 3;
    padding: 10px 40px;
    margin: 0;
  }
  
  .acnh-logo {
    width: 80px;
    position: absolute;
    bottom: 30px;
  }
  
  .curly-arrow {
    height: 330px;
    width: 230px;
    position: absolute;
    right: 14px;
    top: 5px;
    z-index: 3;
  }