.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.villager--type {
  display: flex;
}
  
.villager--personality, .villager--species {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-brown;
  h3 {
    color: $ash-brown;
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 1px solid $ash-brown;
    padding: 0 5px 0 5px;
    margin: 8px 0 0 0;
  }
  p {
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
  }
}

.villager--personality {
  margin-right: 10px;
}

.villager--birthday {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 60%;
  margin: 0;
  color: $dark-brown;
  img {
    height: 20px;
    padding-right: 10px;
  }
  p {
    margin: 0;
    padding-right: 5px;
  }
}

.bottom-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-left: 15px;
  // position: absolute;
  // bottom: 12px;
  overflow: hidden;
}

.text-bubble {
  height: 70px;
  width: 150px;
  // transform: rotate(-5deg);
  filter: drop-shadow(5px 3px 5px
  rgba(0, 0, 0, 0.1));
  margin: 0;
}

.villager--quote-bubble {
  position: relative;
  p {
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    // transform: rotate(-5deg);
    color: $dark-brown;
  }
}

.villager--hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  color: $dark-brown;
  h4 {
    color: $ash-brown;
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 1px solid $ash-brown;
    padding: 0 10px 0 10px;
    margin: 5px 10px 0 0;
  }
  p {
    margin: 0;
    font-weight: bolder;
    margin: 0 10px 0 0;
  }
}