// Define variables for your color scheme

$orange: #FCC533;
$honey-brown: rgb(150, 110, 40);
$chocolate-brown: rgba(100, 66, 2, 1);
$ash-brown: rgb(223, 217, 203);
$dark-brown: #756B5D;
$cream: #F7F4E7;
